<!-- Resumen Start -->
<div class="experience" id="section-resume">
  <div class="container mt-3">
    <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
      <div class="section-heading text-center">
        <h2><strong>Resumen</strong></h2>
      </div>
      <h2>Estudios</h2>
    </header>
    <div class="timeline mt-4">
      <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
        <div class="timeline-text">
          <div class="timeline-date">2016 - Año actual</div>
          <h2>Ingenieria de Sistemas</h2>
          <h4>Universidad de Cartagena</h4>
          <p>
            Actualmente me encuentro cursando la carrera de Ingenieria de
            Sistemas.
          </p>
        </div>
      </div>
      <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
        <div class="timeline-text">
          <div class="timeline-date">2020</div>
          <h2>
            Curso de Desarrollo web con Javascript Es9, HTML, CSS3 Y NodeJS
          </h2>
          <h4>Plataforma Udemy</h4>
          <p>Desarrollo de aplicaciones web y servicios RESTful.</p>
        </div>
      </div>
      <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
        <div class="timeline-text">
          <div class="timeline-date">2021</div>
          <h2>Angular de Cero a Experto</h2>
          <h4>Plataforma Udemy</h4>
          <p>
            Desarrollo de aplicaciones Web y consumo de servicios de terceros.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
