<!-- About -->
<section id="section-about">
  <div class="container pt-5 mb-4">
    <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
      <div class="section-heading text-center pt-5">
        <h2><strong>Sobre Mi</strong></h2>
      </div>
    </header>
    <div class="row pt-4">
      <div class="col-lg-6 col-md-6 col-sm-10 mx-auto">
        <p style="font-size: 20px; text-align: justify; color: #fff">
          Soy una persona responsable, servicial, creativa, ágil y abierta a
          adquirir nuevos conocimientos. Fácil de trabajar a nivel individual y
          de trabajo en equipo; con habilidades y aptitudes para aplicar mis
          conocimientos en el análisis, diseño y desarrollo de software.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-10">
        <ul style="font-size: 20px; text-align: justify; color: #fff">
          <li class="d-flex">
            <span class="mr-3">Nombre:</span
            ><span>Manuel Vicente Ortiz Lopez</span>
          </li>
          <li class="d-flex">
            <span class="mr-3">Fecha de nacimiento:</span>
            <span>Enero 20, 1992</span>
          </li>
          <li class="d-flex">
            <span class="mr-3">Dirección:</span>
            <span>Cartagena Carrera 53 #246</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
