<!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12 text-center text-justify">
        <h2>Manuel Vicente Ortiz Lopez</h2>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <p>
          <a
            href="https://github.com/vicente1992"
            target="_blank"
            class="social-item"
            ><span class="icon-facebook2"></span
          ></a>
          <a
            href="https://github.com/vicente1992"
            target="_blank"
            class="social-item"
            ><span class="icon-github"></span
          ></a>
          <a
            href="https://www.linkedin.com/in/manuel-vicente-ortiz-6893971a2"
            target="_blank"
            class="social-item"
            ><span class="icon-linkedin2"></span
          ></a>
        </p>
      </div>
    </div>
  </div>
</footer>
